# production
uvicorn==0.14.0
kua==0.2
werkzeug==1.0.1

# dev
pytest==6.2.4
pytest-runner==5.3.1
pytest-asyncio==0.15.1
coveralls==3.2.0
pycodestyle==2.7.0
sphinx-rtd-theme==0.5.2
sphinx==4.1.2
mypy==0.942
