# production
uvicorn==0.3.24
kua==0.2
werkzeug==0.14.1

# dev
pytest==4.1.1
pytest-runner==4.2
pytest-asyncio==0.10.0
coveralls==1.5.1
pycodestyle==2.4.0
sphinx-rtd-theme==0.4.2
sphinx==1.8.3
mypy==0.650
